extends layout

block content

    form.cont(method='POST' action='/createquiz/newquiz')
        .quizcont 
            #titlecourse
                #quiztitle Title
                    br
                    input(type='text' name='title' placeholder='Title' contenteditable='true' required)
                #quizcourse Course Code
                    br
                    input(type='text' name='coursecode' placeholder='Course Code' contenteditable='true' required)
                #quizqn No. of Questions
                    br
                    select(id="options" name="noques" onchange="testfunc();")
                        option(value="0") 0
                        option(value="5") 5
                        option(value="10") 10
                        option(value="15") 15
                        option(value="20") 20
            div(id="div1")




        
        
        .buttcont
            button.btn.btn-primary(type='submit' style='margin-right: 10px;') Save Quiz
            button.btn.btn-light(onclick='goBack()') Cancel

    link(rel='stylesheet', href='/stylesheets/createquiz.css')

    //link(href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css', rel='stylesheet', type='text/css')
    //script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js')
    //script.
      //  new FroalaEditor('textarea');

    script.
        function goBack() {
            window.history.back();
        }
        function testfunc(){
            
            var div = document.getElementById("div1");
            while (div.hasChildNodes()) {
                div.removeChild(div.lastChild);
            }
            console.log(document.getElementById("options").value);
            var count = document.getElementById("options").value;
            var i;
            for (i = 1; i <= count; i++) {
                var quesno = document.createTextNode("Question " + i);
                var input1 = document.createElement('input');
                input1.name = "question" + i;
                var opt1 = document.createElement('input');
                opt1.name = "opt1" + i;
                var opt2 = document.createElement('input');
                opt2.name = "opt2" + i;
                var opt3 = document.createElement('input');
                opt3.name = "opt3" + i;
                var opt4  = document.createElement('input');
                opt4.name = "opt4" + i;
                var exp  = document.createElement('input');
                exp.name = "exp" + i;
            
                var ans = document.createElement('select');
                ans.name = "ans" + i;
                var ans1 = document.createElement('option');
                ans1.text = "1";
                ans1.value = "1";
                var ans2 = document.createElement('option');
                ans2.value = "2";
                ans2.text = "2";
                var ans3 = document.createElement('option');
                ans3.value = "3";
                ans3.text = "3";
                var ans4 = document.createElement('option');
                ans4.value = "4";
                ans4.text = "4";
                ans.appendChild(ans1); ans.appendChild(ans2); ans.appendChild(ans3); ans.appendChild(ans4); 

                div.appendChild(document.createElement("br"));
                div.appendChild(quesno);
                div.appendChild(input1);
                div.appendChild(document.createElement("br"));
                div.appendChild(document.createTextNode("Option 1"));
                div.appendChild(opt1);
                div.appendChild(document.createElement("br"));
                div.appendChild(document.createTextNode("Option 2"));
                div.appendChild(opt2);
                div.appendChild(document.createElement("br"));
                div.appendChild(document.createTextNode("Option 3"));
                div.appendChild(opt3);
                div.appendChild(document.createElement("br"));
                div.appendChild(document.createTextNode("Option 4"));
                div.appendChild(opt4);
                div.appendChild(document.createElement("br"));
                div.appendChild(document.createTextNode("Correct answer:"));
                div.appendChild(ans);
                div.appendChild(document.createElement("br"));
                div.appendChild(document.createTextNode("Explanation: "));
                div.appendChild(exp);
                div.appendChild(document.createElement("br"));
                
            }
        
        }
