extends layout

block content

  link(rel='stylesheet', href='/stylesheets/hoststudy.css')

  .overallcont 
    
    form(method='POST' action='/newstudy')

      img(src='/svg/tick.svg' style='margin-bottom: 6px;')
      span#hsstext New Study Session

      #minicont

        .cont Topic 
          input#topic(type='text' name='topic' placeholder='E.g. CZ3002' contenteditable='true' required)

        .cont Course Code
          select.coursecode(id="options" name="course")
            each x in courses1
              option(value=`${x}`) #{x}

        .cont Location
          input#location(type='text' name='location' placeholder='E.g. Business Library Discussion Pod 3' contenteditable='true' required)

        .cont Max. Participants
          select.maxpart(id="options2" name="pax") 
            option(value="5") 5
            option(value="10") 10
            option(value="15") 15
            option(value="20") 20

        .cont Date of Session
          input.dateofsess(type="date" name="date")

        .cont Time of Session
          select.timeofsess(id="options3" name="time") 
            option(value="8.00AM to 9:00AM") 8.00AM - 9:00AM
            option(value="9.00AM to 10:00AM") 9.00AM - 10:00AM               
            option(value="10.00AM to 11:00AM") 10.00AM - 11:00AM
            option(value="11.00AM to 12:00PM") 11.00AM - 12:00PM                     
            option(value="12.00PM to 1:00PM") 12.00PM - 1:00PM                
            option(value="1.00PM to 2:00PM") 1.00PM - 2:00PM
            option(value="2.00PM to 3:00PM") 2.00PM - 3:00PM                    
            option(value="3.00PM to 4:00PM") 3.00PM - 4:00PM                    
            option(value="4.00PM to 5:00PM") 4.00PM - 5:00PM

      .buttcont
        button.btn.fakebtn(type='submit' style='margin-right: 10px;' onclick='alertforStudy()') Create Study Session
        button.btn.fakebtn(onclick='goBack()' style='background-color:white; color:#3C677B;') Cancel

   

  script.
      function alertforStudy(){
          alert("Study Session has been successfully created!");
      }
      function goBack() {
          window.history.back();
      }
        
