extends layout

block content
  h1= title
  p Welcome to #{title}

  form.form-inline(method = 'GET' action = '/login')
    button.btn.btn-primary.mb-2(type='submit') Log In 
  br
  form.form-inline(method = 'GET' action = '/signup')
    button.btn.btn-primary.mb-2(type='submit') Sign Up 
    if username != ''
      p Congratulations #{username}! You are registered!
  br
  br
  h5 This is where we can filter between professors and students