link(rel='stylesheet', href='/stylesheets/index.css')
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")

.container
  img#ewhiteboard(src="/images/ewhiteboard.png")

  form(method='POST' action='/main')
    input#username(type='text' name='username' placeholder='username' required)
    br
    input#password(type='password' name='password' placeholder='password' required)
    br
    button.btn#loginbutt(type='submit') 
      span Log In 




