doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Bootstrap
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")

  body
    .navbutt
      .icon
    .menu
      ul
        form(method='GET' action='/main')
          button.normalbutt(type='submit') Home
        form(method='GET' action='/quiz')
          button.normalbutt(type='submit') Quiz
        form(method='GET' action='/calendar')
          button.normalbutt(type='/submit') Consultation
        form(method='GET' action='/studysession')
          button.normalbutt(type='/submit') Study Session  
        form(method='GET' action='/bookmarks')
          button.normalbutt(type='submit') Bookmarks
        form(method='GET' action='/profile')
          button.normalbutt(type='/submit') Profile
        form(method='GET' action='/')
          button.logoutbutt(type='submit') Log Out

    script.
      $('.navbutt').click(function() {
        $('.menu').toggleClass('open');
        $(this).toggleClass('open');
        console.log("Navbar triggered");
      });

      $(document).keyup(function(e){
        if(e.key === "Escape" && $('.navbutt').hasClass('open')) {
          $('.menu').toggleClass('open');
          $('.navbutt').toggleClass('open');
        }
      });

      $(document).mousedown(function(e) {
        if($('.navbutt').hasClass('open') && !$(e.target).hasClass("menu open") && !$($(e.target).parent().parent().parent().get(0)).hasClass("menu open")) {
          $('.menu').toggleClass('open');
          $('.navbutt').toggleClass('open');
        }
      });

    block content
