<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1></h1>
    <p>Welcome </p>
    <form method="GET" action="/">
      <button class="btn btn-dark" type="submit">Log Out</button>
    </form><br><br><br>
    <h5>This is where the Main Forum Page is located.</h5>
    <nav class="navbar navbar-dark navbar-expand-sm">
      <div class="navbar-header"><img id="forum_logo" src="/images/discussion_icon.png" alt="NTU Learning Platform"><span></span>
        <h5 class="navbar-brand" href="#">Discussion Forum</h5>
      </div>
      <div class="navbar-text">
        <h5 id="filter">Search By: Default</h5>
      </div>
      <ul class="navbar-nav">
        <!-- Dropdown-->
        <li class="nav-item dropdown">
          <button class="btn btn-dark dropdown-toggle" data-toggle="dropdown">Courses</button>
          <div class="dropdown-menu">
            <button class="dropdown-item" id="cc0" value="Default" onclick="changeFilter(this)">Reset Filter</button>
            <button class="dropdown-item" id="cc1" value="code1" onclick="changeFilter(this)">Course Code 1</button>
            <button class="dropdown-item" id="cc2" value="code2" onclick="changeFilter(this)">Course Code 2</button>
            <button class="dropdown-item" id="cc3" value="code3" onclick="changeFilter(this)">Course Code 3</button>
          </div>
        </li>
      </ul>
    </nav><br>
    <table>
      <tr id="table-headings">
        <td>
          <h5>Title</h5>
        </td>
        <td>
          <h5>Number of Replies</h5>
        </td>
        <td>
          <h5>Rating</h5>
        </td>
      </tr>
      <tr>
        <td>Is there a neutron star in the milky way?</td>
        <td>42</td>
        <td>4.2/5</td>
      </tr>
    </table>
    <script>
      function changeFilter(code){
        document.getElementById('filter').innerHTML = 'Search By: ' + code.value;
      }
      
    </script>
    <link rel="stylesheet" href="/stylesheets/main_page.css">
  </body>
</html>