extends layout

block content
  p Welcome #{username}

  nav.navbar.navbar-dark.navbar-expand-sm
    .navbar-header
      img#forum_logo(src="/images/discussion_icon.png" alt="NTU Learning Platform")
      span
      h5.navbar-brand(href="#") Discussion Forum
    .navbar-text
      h5#filter Search By: Default
    ul.navbar-nav
      // Dropdown
      li.nav-item.dropdown
        button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown") Courses
        .dropdown-menu
          button.dropdown-item(id='cc0' value='Default' onclick="changeFilter(this)") Reset Filter
          button.dropdown-item(id='cc1' value='code1' onclick="changeFilter(this)") Course Code 1
          button.dropdown-item(id='cc2' value='code2' onclick="changeFilter(this)") Course Code 2
          button.dropdown-item(id='cc3' value='code3' onclick="changeFilter(this)") Course Code 3
  br
  table.table
    thead.thead-dark
      tr
        th Title
        th Tags
        th Number of Replies
        th Rating
    tbody#table-records

  br
  br
  br
  form(method = 'GET' action = '/')
      button.btn.btn-primary(type='submit') Log Out
  
  script.

    initData();

    function changeFilter(code){
      document.getElementById('filter').innerHTML = 'Search By: ' + code.value;
    }

    function initData(){
      data = "#{data}".split('_');
      data_list = [];
      data.forEach(function(record){
        record = record.split('~');
        forumData = {}

        forumData['title'] = record[0];
        forumData['tags'] = record[1].split('+');
        forumData['num_of_replies'] = record[2];
        forumData['rating'] = record[3];

        data_list.push(forumData);
      });

      data_list.forEach(function(record){
        html_string = "<tr>";

        html_string += "<td><a href='/'>" + record['title'] + "</a></td>";

        html_string += "<td>";
        record['tags'].forEach(function(tag){
          html_string += "<span class= 'badge badge-pill badge-primary'>" + tag + "</span><span></span>";
        });
        html_string += "</td>";

        html_string += "<td>" + record['num_of_replies'] + "</td>";

        html_string += "<td>" + record['rating'] + "</td>";

        html_string += "</tr>";

        $('#table-records').append(html_string);
      });
    }

  link(rel='stylesheet', href='/stylesheets/main_page.css')
