extends layout

block content

    .overallcont
        #avaquiz 
            img(src='/svg/tick.svg' style='margin-left: 5px; margin-bottom: 5px;')
            span#avatext Available Quiz
        .coursecont 
            .modcont CZ3002
                br
                button.quizcont Quiz1
                .content hi
                br
                button.quizcont Quiz2
                .content bye
        .coursecont 
            .modcont CZ4062
                br
                button.quizcont Quiz1
                .content hi
                br
                button.quizcont Quiz2
                .content bye


    link(rel='stylesheet', href='/stylesheets/quiz.css')


    script.
        var coll = document.getElementsByClassName("quizcont");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }