extends layout

block content
  .thread-title(align='center')
    h1 #{title}

  .container-fluid#threads
    each post in data
      .row#main_row
        .score(align="center")
          b#score 5
        .vote(align="center")
          form#up_form(method = 'POST' action = '/votepost')
            button(type="submit" name="votebutton" value="3")
              img#up(src='/images/thumbs_up.png' alt="VoteButton")
          form#down_form(method = 'POST' action = '/votepost')
            button(type="submit" name="votebutton" value="4")
              img#down(src='/images/thumbs_down.png' alt="DownvoteButton") 
        .content
          h3 #{post.username}
          h5 #{post.content}
      .row#extra_row


  br
  .container-fluid#thread_buttons
    .row
      .col-lg-1
        button.btn.btn-primary(type='submit' align='left') Add Reply
      .col-lg-1
        button.btn.btn-primary(type='submit' align='left') Watch this Thread
      .col-lg-10
    .row
      .col-lg-12
        br
        br
        br
    .row
      .col-lg-6
        form(method='GET' action='/main')
          button.btn.btn-primary(type='submit') Return to Main Page
      .col-lg-6
  
  script.


  link(rel='stylesheet', href='/stylesheets/thread.css')
