extends layout

block content
    h1 #{title}
    

    br
    br
    br
    form(method='GET' action='/main')
        button.btn.btn-primary(type='submit') Return to Main Page

    link(rel='stylesheet', href='/stylesheets/main_page.css')