extends layout

block content
  
  .thread-title(align='center')
    h1 #{title}

  .container-fluid#threads
    each reply in data
      .row
        .col-lg-2
          h3 #{reply.user}
        .col-lg-8
          h5 #{reply.content}
        .col-lg-2
          .container(align='center')
            img.float-left#quote(src='/images/return_arrow.png')
            img.float-left#report(src='/images/exclamation_mark.png')
            img.float-left#up(src='/images/thumbs_up.png')
            img.float-left#down(src='/images/thumbs_down.png')

  br
  .container-fluid#thread_buttons
    .row
      .col-lg-1
        button.btn.btn-primary(type='submit' align='left') Add Reply
      .col-lg-1
        button.btn.btn-primary(type='submit' align='left') Watch this Thread
      .col-lg-10
    .row
      .col-lg-12
        br
        br
        br
    .row
      .col-lg-6
        form(method='GET' action='/main')
          button.btn.btn-primary(type='submit') Return to Main Page
      .col-lg-6
  
  script.


  link(rel='stylesheet', href='/stylesheets/thread.css')
