extends layout

block content
  
  .thread-title(align='center')
    h1 #{title}

  .threads(align='center')
    table.table-dark.table-striped
      thead
        tr
          th 
            h3 Replies
      tbody#replies
        tr
          td Reply 1
        tr
          td Reply 2

  br
  br
  br
  form(method='GET' action='/main')
    button.btn.btn-primary(type='submit') Return to Main Page

  link(rel='stylesheet', href='/stylesheets/thread.css')
