@import 'fonts.css';


.centerDiv {
    max-width: 250px;
    margin: auto
}

.profile {
    background-image: url('/images/profile1.png');
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: left;
    overflow: hidden;
    max-width:250px;
    height:250px;
  }


body {
  background-image: url('/images/plain-background.png')
  /* background-color: #57F2FF; */
}

.centerDiv > h1, h2 {
    color: white;
}

.centerDiv > h3 {
    color:  lightgrey;
    text-decoration: underline;
}

.centerDiv > h4 {
    color:  lightgrey;
}

.centerDiv > p {
  color: #57F2FF;
}

