@import 'fonts.css';

body {
    background-image: url('/images/plain-background.png');
}

button:focus {
    outline: 0;
}

.overallcont {
    background-color: white;
    padding: 20px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

#createquizcont {
    float: right;
    /* margin-top: 1px; */
}

.fakebtn {
    display: inline-block;
    color: #FFF;
    background-color: #699DB6;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 8px;
    padding: 5px 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,.3);
    border-bottom-width: 3px;
}

.fakebtn:hover {
    background-color: #4F87A2;
    border-color: rgba(0,0,0,.5);
}

.fakebtn:active {
    background-color: #3C677B;
    border-color: rgba(0,0,0,.9);
}
    
#avaquiz {
    width: 100%;
    margin-bottom: 20px;
    /* border-bottom: 1px #D8D8D8 solid; */
    border-bottom: 1px black solid;
    border-bottom-width: 3px;
}

#avatext {
    font-family: 'PN Extrabold';
    margin-left: 5px;
    /* color: #D8D8D8; */
    font-size: 20px;
}

.coursecont {
    /* border: 1px black solid; */
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
}

.title {
    font-family: 'PN Bold';
    font-size: 20px;
}

.modcont {
    /* border: 1px black solid; */
    width: 100%;
    font-family: 'PN Regular';
    margin-bottom: 5px;
}

.quizcont {
    /* border: 1px black solid; */
    margin-left: 25px;
    border: none;
    background: none;
    display: block;
    /* margin-bottom: 5px; */
}

.active, .quizcont:hover {
    font-family: 'PN Bold';
}

.quizcont:before {
    content: '⮞  '; 
    color: black;
}

.active:before {
    content: "⮟  "; 
}

.content {
    display: none;
    overflow: hidden;
}

button.content {
    margin-left: 47px;
    background: #fff;
    color: #000033;
    border: none;
    position: relative;
    height: 20px;
    font-size: .6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    text-transform: uppercase;
    width: 100px;
}

button.content:hover {
    background: #000033;
    color: #fff;
}

button.content:before, button.content:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #fff;
    transition: 400ms ease all;
}

button.content:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

button.content:hover:before, button.content:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
