@import 'fonts.css';

body {
    background-image: url('/images/plain-background.png');
}

.overallcont {
    background-color: white;
    padding: 20px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

.contentforss {
    border: 1px black solid;
}

#createsscont {
    float: right;
    margin-top: -6px;
}

.fakebtn {
    display: inline-block;
    color: #FFF;
    background-color: #699DB6;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 8px;
    padding: 5px 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,.3);
    border-bottom-width: 3px;
}

.fakebtn:hover {
    background-color: #4F87A2;
    border-color: rgba(0,0,0,.5);
}

.fakebtn:active {
    background-color: #3C677B;
    border-color: rgba(0,0,0,.9);
}
    
#avass {
    width: 100%;
    margin-bottom: 20px;
    /* border-bottom: 1px #D8D8D8 solid; */
    border-bottom: 1px black solid;
    border-bottom-width: 3px;
}

#avatext {
    font-family: 'PN Extrabold';
    margin-left: 5px;
    /* color: #D8D8D8; */
    font-size: 20px;
    line-height: 20px;
}

.title {
    font-family: 'PN Bold';
    font-size: 20px;
    margin-top: 20px;
}

.sscont {
    /* border: 1px black solid; */
    margin-left: 25px;
    border: none;
    background: none;
    display: block;
    /* margin-bottom: 5px; */
}

.active, .sscont:hover {
    font-family: 'PN Bold';
}

.sscont:before {
    content: '⮞  '; 
    color: black;
}

.active:before {
    content: "⮟  "; 
}

/* test */

/*
 CSS for the main interaction
*/
.accordion > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
  }
  
  .accordion .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
    font-family: 'PN Regular';
    font-size: 12px;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
  }
  
  .accordion label {
    display: block;
  }
  
  /*
   Styling
  */
  body {
    font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
    color: #333;
    font-weight: 300;
  }
  
  .accordion {
    /* margin-bottom: 1em; */
  }
  
  .accordion > input[type="checkbox"]:checked ~ .content {
    padding: 5px;
    border: 1px solid #e8e8e8;
    border-top: 0;
  }
  
  .accordion .handle {
    margin: 0;
    font-size: 1.125em;
    line-height: 1.2em;
  }
  
  .accordion label {
    color: #333;
    cursor: pointer;
    font-weight: normal;
    padding: 8px;
    background: #E6E6FA;
    font-family: 'PN Regular';
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  
  .accordion label:hover,
  .accordion label:focus {
    background: #60AFFE;
  }
  
  .accordion .handle label:before {
    /* font-family: 'fontawesome'; */
    content: "⮞";
    display: inline-block;
    margin-right: 10px;
    font-size: 1em;
    line-height: 1.556em;
    vertical-align: middle;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .handle label:before {
    content: "⮟";
  }
  
  
  /*
   Demo purposes only
  */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  body {
    padding: 40px;
  }
  
  a {
    color: #06c;
  }
  
  p {
    margin: 0 0 1em;
  }
  
  h1 {
    margin: 0 0 1.5em;
    font-weight: 600;
    font-size: 1.5em;
  }
  
  .accordion {
    max-width: 65em;
  }
  
  .accordion p:last-child {
    margin-bottom: 0;
  }

button.content {
    border: none;
    background-color: transparent;
}

.buttcont {
    text-align: right;
}
