@import 'fonts.css';

body {
    background-image: url('/images/plain-background.png');
}

.overallcont {
    background-color: white;
    padding: 20px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

.contentforss {
    border: 1px black solid;
}

#createsscont {
    float: right;
    /* margin-top: 1px; */
}

.fakebtn {
    display: inline-block;
    color: #FFF;
    background-color: #699DB6;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 8px;
    padding: 5px 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,.3);
    border-bottom-width: 3px;
}

.fakebtn:hover {
    background-color: #4F87A2;
    border-color: rgba(0,0,0,.5);
}

.fakebtn:active {
    background-color: #3C677B;
    border-color: rgba(0,0,0,.9);
}
    
#ssquiz {
    width: 100%;
    margin-bottom: 20px;
    /* border-bottom: 1px #D8D8D8 solid; */
    border-bottom: 1px black solid;
    border-bottom-width: 3px;
}

#sstext {
    font-family: 'PN Extrabold';
    margin-left: 5px;
    /* color: #D8D8D8; */
    font-size: 20px;
}

.title {
    font-family: 'PN Bold';
    font-size: 20px;
}

.sscont {
    /* border: 1px black solid; */
    margin-left: 25px;
    border: none;
    background: none;
    display: block;
    /* margin-bottom: 5px; */
}

.active, .sscont:hover {
    font-family: 'PN Bold';
}

.sscont:before {
    content: '⮞  '; 
    color: black;
}

.active:before {
    content: "⮟  "; 
}