html {
  padding: 50px;
  background-image: url('/images/plain-background.png');
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

/* html {
  background-image: url('/images/plain-background.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

a {
  color: #00B7FF;
}

.mainhead {
  border: 1px solid black;
  height: 50px;
  width: 100%;
  margin-bottom: 2%;
}