body {
  background-image: url('/images/background.png')
}

.thread-title {
  background-color: #5599AA;
  padding: 20px 20px 20px 20px;
}

.thread-title > h1 {
  color: white;
}

#threads > div {
  margin-top: 20px;
  background-color: beige;
}

#main_row {
  width: 100%;
  padding: 1% 1% 1% 1%;
  max-height: 500px;
}

#main_row > .score {
  width: 5%;
  margin-left: 1%;
  align-self: center;
}

#main_row > .vote {
  width: 10%;
  align-self: center;
}

#main_row > .content {
  width: 84%;
  text-align: left;
  word-wrap: break-word;
}

#up, #down {
  width: 20px;
  height: 20px;
}

#down_form {
  margin-top: 10%;
}

#quote, #report {
  width: 20px;
  height: 20px;
}

#quote:hover, #report:hover, #up:hover, #down:hover {
  opacity: 0;
  transition: .5s ease;
}

#thread_buttons {
  width: 100%;
}
