@import 'fonts.css';

body {
  background-image: url('/images/plain-background.png')
}

.thread-title {
  width: 98.4%;
  border-radius: 30px;
  background-color: #333333;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

.thread-title > h1 {
  padding: 1% 1% 1% 1%;
  color: white;
  font-family: 'PN Bold';
}

#threads {
  width: 100%;
}

#container_row {
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #57F2FF;
  background-image: repeating-linear-gradient(135deg, #2BDDF9, #57F2FF 10%, #2BDDF9 20%);
}

#container_row:hover {
  box-shadow: 10px 10px #0B1A51;
  transform: scale(1.01);
  transition: .2s ease-in;
}

#main_row {
  width: 100%;
}

#main_row > .score {
  width: 1%;
  margin-left: 4%;
  align-self: center;
}

#main_row > .score > b {
  font-size: 30px;
}

#main_row > .vote {
  width: 4%;
  margin-left: 4%;
  align-self: center;
}

#main_row > .vote > #up_form {
  margin-top: 1%;
}

#main_row > .content {
  width: 80%;
  margin-left: 2%;
}

#main_row > .filler {
  width: 5%;
}

#username_row {
  border-bottom: 1px solid black;
  border-bottom-style: dotted;
}

#username_row > h3 {
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: 'PN Alt Bold';
}

#content_row {
  max-height: 500px;
}

#content_row > h5 {
  padding-top: 2%;
  padding-bottom: 1%;
  word-wrap: break-word;
  overflow-y: auto;
  font-family: 'PN Thin';
}

#up, #down {
  width: 30px;
  height: 30px;
}

#up_button, #down_button {
  background: transparent;
  border: transparent;
}

#down_form {
  margin-top: 50%;
}

#up_button:hover, #down_button:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: .5s ease;
}

#extra_row {
  width: 100%;
  margin-left: 1%;
  margin-top: 1%;
}

#extra_row > .report, .edit, .delete {
  margin-left: 1%;
}

.quote > h5, .report > h5, .edit > h5, .delete > h5 {
  margin-left: 5px;
  margin-top: 2px;
  font-family: 'PN Alt Light';
}

.quote {
  width: 100px;
}

.report {
  width: 100px;
}

.edit {
  width: 120px;
}

.delete {
  width: 140px;
}

#quote, #report, #edit, #delete {
  width: 20px;
  height: 20px;
}

#quote_button, #report_button, #edit_button, #delete_button {
  background: transparent;
  border: transparent;
}

.quote, .report, .edit, .delete {
  border-radius: 10px;
}

.quote:hover, .report:hover, .edit:hover, .delete:hover {
  cursor: pointer;
  box-shadow: 5px 5px #0B1A51;
  transform: translate(0px, -10px);
  transition: .5s ease;
}

#thread_buttons {
  width: 100%;
}

#thread_buttons > .row {
  width: 100%;
}

.row > .reply {
  width: 150px;
}

.row > .watch {
  width: 200px;
}

#reply-button, #watch-button {
  border-radius: 0px 30px 30px 0px;
}

#reply-button > img, #watch-button > img, #return-button > img {
  width: 30px;
  height: 30px;
}

#reply-button > h5, #watch-button > h5, #return-button > h5 {
  padding-top: 4%;
  margin-left: 5px;
  font-family: 'PN Extrabold';
}
